
[GENERAL]
myCall=PA7LIM
comport=COM10
saveQSOLog=0
RXTXColors=0
StartProtocol=None
dvdongle=1
frequency=434300000
modeTimerRF=10
modeTimerNet=5
DVMEGAPower=100
longitude=+005.0739
latitude=+52.0570

[AMBE]
AMBEspeed=230400
AMBEDMRid=2043000
enableAMBEServer=0
AMBEServerHost=192.168.1.10
AMBEServerHostPort=2460
enableRoger=1
comport=COM8
PTTKeying=0
PTTCOMPort=COM4
enableRXIndicator=1
RXIndicator=RTS
RXIndicatorHighLow=HIGH
PTTIndicator=CTS
PTTIndicatorHighLow=HIGH

[DMR]
dmrid=2043042
DMRmaster=213.222.29.197
DMRpassword=passw0rd
DMRplusmaster=193.253.109.97
DMRplusDefaultReflector=4050
qrg=0
autostart=0
noInbandData=0
DMRtypeSelection=BM

[FUSION]
autostart=0
QTHlocation=JO22MB
defaultYSFReflector=SC Scotland
defaultFCSReflector=FCS00401
autostartProtocol=FCS

[DSTAR]
autostart=0
DSTARmodule=D
APRS=0
defaultReflector=DCS600A
