<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueDV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlueDVWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BluespotDVWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BlueDV.Properties.Settings>
            <setting name="disableFonts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedREFreflector" serializeAs="String">
                <value>REF001</value>
            </setting>
            <setting name="savedREFreflectorModule" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="savedDCSreflector" serializeAs="String">
                <value>DCS001</value>
            </setting>
            <setting name="savedDCSreflectorModule" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="savedXRFreflector" serializeAs="String">
                <value>XRF001</value>
            </setting>
            <setting name="savedXRFreflectorModule" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="savedDSTARorDMRswitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedprivateorGroupswitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedDMRmanualDial" serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="recordingVolumeDMR" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="savedDMRManualDialCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="savedVOXDetectionLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="savedDSTARoutGain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="savedDSTARinGain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="savedDMRoutGain" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="savedDMRinGain" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="savedDMRsimpleMode" serializeAs="String">
                <value>False</value>
            </setting>
        </BlueDV.Properties.Settings>
        <BlueDVWindows.Properties.Settings>
            <setting name="mycall" serializeAs="String">
                <value>PA7LIM</value>
            </setting>
            <setting name="dmrid" serializeAs="String">
                <value>2040000</value>
            </setting>
            <setting name="freq" serializeAs="String">
                <value>434300000</value>
            </setting>
            <setting name="qrg" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="comport" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DMRmaster" serializeAs="String">
                <value>213.222.29.197</value>
            </setting>
            <setting name="DMRpassword" serializeAs="String">
                <value>passw0rd</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disableFonts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freqDSTAR" serializeAs="String">
                <value>434600000</value>
            </setting>
            <setting name="DSTARmodule" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="saveQSOLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freqFUSION" serializeAs="String">
                <value>434000000</value>
            </setting>
            <setting name="QTHlocation" serializeAs="String">
                <value>JO22MB</value>
            </setting>
            <setting name="RXTXColors" serializeAs="String">
                <value>False</value>
            </setting>
        </BlueDVWindows.Properties.Settings>
        <BluespotDVWindows.Properties.Settings>
            <setting name="mycall" serializeAs="String">
                <value>PA7LIM</value>
            </setting>
            <setting name="dmrid" serializeAs="String">
                <value>204000</value>
            </setting>
            <setting name="freq" serializeAs="String">
                <value>434600000</value>
            </setting>
            <setting name="qrg" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="comport" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DMRmaster" serializeAs="String">
                <value>213.222.29.197</value>
            </setting>
            <setting name="DMRpassword" serializeAs="String">
                <value>passw0rd</value>
            </setting>
        </BluespotDVWindows.Properties.Settings>
    </userSettings>
</configuration>